body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.calculator {
  padding: 20px;
  border-radius: 5px;
}

.display {
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  border: none;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button {
  background-color: #fefefe;
  padding: 20px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button.number {
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button.number:hover {
  background-color: aliceblue;
  color: black;
  transition: 0.2s ease-in-out;
}

.button.operator {
  background-color: rgb(255, 166, 42);
}

.button.operator:hover {
  background-color: aliceblue;
  color: black;
  transition: 0.2s ease-in-out;
}
